{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
<h3 class="text-white my-5">About Page</h3>
<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, provident.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, pariatur error. Expedita libero magni repudiandae! Eaque iusto sed earum beatae animi error soluta voluptas repellendus quisquam veniam voluptatem accusantium reprehenderit reiciendis corrupti officia officiis laboriosam, temporibus unde, expedita dolores asperiores, in vitae! Reiciendis consectetur quos, laudantium repellendus corrupti repudiandae et?</p>

</div>


{% endblock content %}